<div id="top" class=" " [ngClass.gt-sm]="''" fxLayout="column"
  fxLayoutGap="20px">
  <div class=" bg-secondary" fxLayout="row">
    <p class=" mat-h1 color-primary">Frequently Asked Questions</p>
   
  </div>
  <div class=" " [ngClass.gt-sm]="''" fxLayout="column" fxLayoutGap="30px">
    
   

    <p class="mat-title font-bold color-accent">Get Your General Answer</p>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 19" (opened)="setStep(19)">
        <mat-expansion-panel-header>
          <mat-panel-title class="color-accent mat-h2 font-bold" >
           Will I always seen my own doctor?
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="column" fxLayoutGap="10px">
          <p class="mat-h4">
            Yes
          </p>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 20" (opened)="setStep(20)">
        <mat-expansion-panel-header>
          <mat-panel-title class="color-accent mat-h2 font-bold" >
           What is One Medical's Care?
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="column" fxLayoutGap="10px" >
          <p class="mat-h4">
            Yes
          </p>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 21" (opened)="setStep(21)">
        <mat-expansion-panel-header>
          <mat-panel-title class="color-accent mat-h2 font-bold" >
            What is One Medical's Care?
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="column" fxLayoutGap="10px">
          <p class="mat-h4">
            Yes
          </p>
        </div>
      </mat-expansion-panel>

    </mat-accordion>

  </div>
</div>