<div class=" cardpadding" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="15px">

  <div fxLayout="row" fxLayoutGap="15px" fxLayout.xs="column">

    <!-- <mat-grid-tile style="background-image: url('/assets/images/websitehome/rectangle-1.png')"> -->
    <mat-card class="cardsizedash " [ngStyle.xs]="{ width: 'auto'}" fxFlex="50">
      <mat-card-header class="paddingTop" >
        <mat-card-title class="mat-h1" ngClass.xs="mat-h2" >Remaining Booking Ponits(0)</mat-card-title>
        

        
      </mat-card-header>
      <!-- <mat-card-header class="paddingTop" fxHide.gt-md fxShow.lt-md
      fxHide>
        <mat-card-title class="mat-h2">Remaining Booking Ponits(0)</mat-card-title>
    
      </mat-card-header> -->

      <mat-card-content class="paddingLeft" fxLayout="column" fxLayoutGap="15px">
        <mat-card class="mat-h2" ngClass.xs="mat-h5"></mat-card>
        <mat-card class="mat-h2" ngClass.xs="mat-h5"></mat-card>
        <mat-card class="mat-h2" ngClass.xs="mat-h5"></mat-card>

      </mat-card-content>

    </mat-card>
    <!-- </mat-grid-tile> -->
    <mat-card class="cardsizedash" fxFlex="50" [ngStyle.xs]="{ width: 'auto'}">
      <mat-card-header class="paddingTop">
        <mat-card-title class="mat-h1" ngClass.xs="mat-h2">News Feeds</mat-card-title>

      </mat-card-header>

      <mat-card-content class="paddingLeft mat-h3" ngClass.xs="mat-h5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
        the leap into electronic typesetting, remaining essentially unchanged.</mat-card-content>

    </mat-card>



  </div>
  <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center" fxLayout.xs="column">

    <mat-card class="cardsizedash " fxFlex="50"  [ngStyle.xs]="{ width: 'auto'}">

      <mat-card-header class="paddingTop" fxLayout="row">
        <div>
          <mat-card-title  class="mat-h1" ngClass.xs="mat-h2">Important Notice</mat-card-title>
        </div>
        <div class="fill"></div>
        <div>
          <mat-card-title> <button mat-button mat-raised-button color="primary">View All</button></mat-card-title>
        </div>

        <!-- <mat-card-title >Important Notice</mat-card-title>
              <div ></div>

              <mat-card-title>View All</mat-card-title> -->
      </mat-card-header>

      <mat-card-content class="paddingLeft" fxLayout="column" fxLayoutGap="15px">

        <mat-card class="mat-h2" ngClass.xs="mat-h5">Tutorial:&nbsp;<span class="txtdecorate">How to book Dr appointment and queue system</span></mat-card>
        <mat-card class="mat-h2" ngClass.xs="mat-h5">Tutorial:<span class="txtdecorate">How to book Dr appointment and queue system</span></mat-card>
        <mat-card class="mat-h2" ngClass.xs="mat-h5">Tutorial:<span class="txtdecorate">How to book Dr appointment and queue system</span></mat-card>

      </mat-card-content>

    </mat-card>

    <mat-card class="cardsizedash" fxFlex="50" [ngStyle.xs]="{ width: 'auto'}">
      <mat-card-header class="paddingTop" fxLayout="row">
        <div>
          <mat-card-title  class="mat-h1" ngClass.xs="mat-h2">Vacancy</mat-card-title>
        </div>
        <div class="fill"></div>


        <div>
          <mat-card-title>
            <mat-icon>chevron_left</mat-icon>
            <mat-icon>chevron_right</mat-icon>
          </mat-card-title>
        </div>
      </mat-card-header>
      <mat-card-content class="paddingLeft" fxLayout="column" fxLayoutGap="8px">
        <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="mat-h2">

          <span ngClass.xs="mat-h5" class="mat-h3"><button mat-button mat-raised-button color="primary">Description</button></span>
          <span ngClass.xs="mat-h5" class="mat-h3">Need Candidate for Baroda</span>
          


        </div>
        <div fxLayout="row" fxLayoutGap="10px">
          <span ngClass.xs="mat-h5"><button mat-button mat-raised-button color="primary">Description</button></span>
          <span ngClass.xs="mat-h5" class="mat-h3">Need Candidate for Baroda</span>


        </div>
        <div fxLayout="row" fxLayoutGap="10px">

          <span ngClass.xs="mat-h5"><button mat-button mat-raised-button color="primary">Description</button></span>
          <span ngClass.xs="mat-h5" class="mat-h3">Need Candidate for Baroda</span>



        </div>
        <div fxLayout="row" fxLayoutGap="10px">

          <span ngClass.xs="mat-h5"><button mat-button mat-raised-button color="primary">Description</button></span>
          <span ngClass.xs="mat-h5" class="mat-h3">Need Candidate for Baroda</span>


        </div>
        <div fxLayout="row" fxLayoutGap="10px">

          <span ngClass.xs="mat-h5"><button mat-button mat-raised-button color="primary">Description</button></span>
          <span ngClass.xs="mat-h5" class="mat-h3">Need Candidate for Baroda</span>


        </div>
        <div fxLayout="row" fxLayoutGap="10px">

          <span ngClass.xs="mat-h5"><button mat-button mat-raised-button color="primary">Description</button></span>
          <span ngClass.xs="mat-h5" class="mat-h3">Need Candidate for Baroda</span>


        </div>

        <!-- <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div> -->
      </mat-card-content>

    </mat-card>





  </div>




</div>