.header-card {
    box-shadow: 0 0px 18px 0 rgba(0, 0, 0, 0.1);
    // background-color: linear-gradient(to right, #2AA7FF, to leftend, #ffffff);
    background-color: #c9e3f5;

}

::ng-deep #search {
    font-size: 10px; // example
}

.haeader-avtar {
    align-items: flex-end;
}

.noticecard {
    height: auto;
    max-height: auto;
    background-color: #c9e3f5;
}

.mat-h2 {
    font-weight: 600;
}

.formcard-description {
    background-color: #c9e3f5;
    height: auto;
    max-height: auto;

}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;

    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }

    .mat-row,
    .mat-header-row {
        display: table-row;
    }

    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
}

.mat-header-cell {
    font-size: 16px;
    color: #ffffff;
    background-color: #7661e2;
    padding: 5px;
}