.remindercard{
    height: 350px;
    max-height: 350px;
  
    border-radius: 5px;
    background-color: #f8f5e9;
}
.halfcard{
    // height: 175px;
    // max-height: 175px;
    height: 135px;
    max-height: 135px;
   
    border-radius: 5px;
  
}
.appointcard{
    height: 350px;
    max-height: 350px;
  
    border-radius: 5px;
  
}