<div fxLayout="column" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="15px" style="margin-bottom: 0px;">

    <mat-card class="backgroud-color-primary color-white" fxLayoutGap="15px" [ngStyle.xs]="{margin:'0px'}">

        <span class="menu-button mat-h2">
            <mat-icon class="color-white">assignment</mat-icon>
            <span class="mat-h2" ngClass.xs="mat-h3">Appointment Receipt</span>
        </span>
    </mat-card>
    <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutAlign="space-between"
        fxLayoutAlign="center center" fxLayoutGap="15px">
        <mat-card class="appoinment-card background-color-primary-light">

            <mat-card-title class="mat-h2 color-primary" ngClass.xs="mat-h3" fxLayoutAlign="center">
                MR CALL
            </mat-card-title>

            <mat-card-sub-title class="mat-h3 color-primary" ngClass.xs="mat-h4">Dear Medical Representatives
            </mat-card-sub-title>

            <mat-card-content class="mat-h5">
                From <span class="color-primary">{{bookingdate | date:'fullDate'}}</span>onwards You have to bookcall of
                <br><span class="color-primary"> Dr.Bhargav</span> compulsory from online protal.<br><br>


                <span fxLayoutAlign="center" class="mat-h3 color-primary" ngClass.xs="mat-h4">
                    www.xyz.com</span>
                <br>
                <span fxLayoutAlign="center" class="mat-h5 " ngClass.xs="mat-h4">Kindly visit mentioned site for
                    further<br>
                    information for any queries<br>
                    or,concerns,Click to CONTACT US on portal</span>
                <br>
                <div fxLayout="row" class="padding-top">
                    <span>Call Timing : Morning <span class="color-primary">10:00 AM</span> to<span
                            class="color-primary">11:00
                            AM</span>&nbsp;No of MR <span class="color-primary">5</span>
                        <br>
                        <span class="evaning-time"> Evening: <span class="color-primary">10:00 AM</span> to<span
                                class="color-primary">11:00
                                AM
                            </span>>No of MR <span class="color-primary">5</span>
                        </span>
                    </span>
                </div>
                <div class="table-responsive" fxLayoutgap="15px">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        <!-- Position Column -->
                        <ng-container matColumnDef="MON">
                            <th mat-header-cell *matHeaderCellDef> MON </th>
                            <td mat-cell *matCellDef="let element"> {{element.MON}} </td>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="TUE">
                            <th mat-header-cell *matHeaderCellDef> TUE</th>
                            <td mat-cell *matCellDef="let element"> {{element.TUE}} </td>
                        </ng-container>

                        <!--  Doctor Name Column-->
                        <ng-container matColumnDef="WED">
                            <th mat-header-cell *matHeaderCellDef>WED</th>
                            <td mat-cell *matCellDef="let element"> {{element.WED}} </td>
                        </ng-container>

                        <!-- Hospital Column -->
                        <ng-container matColumnDef="THU">
                            <th mat-header-cell *matHeaderCellDef> THU </th>
                            <td mat-cell *matCellDef="let element"> {{element.THU}} </td>
                        </ng-container>
                        <!-- Territory Column -->
                        <ng-container matColumnDef="FRI">
                            <th mat-header-cell *matHeaderCellDef> FRI </th>
                            <td mat-cell *matCellDef="let element"> {{element.FRI}} </td>
                        </ng-container>
                        <!-- Time Slot Column -->
                        <ng-container matColumnDef="SAT">
                            <th mat-header-cell *matHeaderCellDef> SAT</th>
                            <td mat-cell *matCellDef="let element"> {{element.SAT}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <br>
                <div>
                    <span class="mat-h3 color-primary " ngClass.xs="mat-h4"> FOR ANY QUERY PLEASE VISIT
                        WEBSITE OR
                        CALL</span>
                </div>

                <div>
                    <mat-card class="backgroud-color-primary color-white padding-top" fxLayoutGap="15px"
                        [ngStyle.xs]="{margin:'0px'}" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="33%">

                        <span class="menu-button mat-h2" fxFlex="45%">
                            <mat-icon class="color-white">settings_phone</mat-icon>
                            <span class="mat-h5" ngClass.xs="mat-h5">MR HELPLINE<br>
                                + 91-8757857854
                            </span>
                        </span>
                        <span class="menu-button mat-h2" fxFlex="55%">
                            <mat-icon class="color-white">language</mat-icon>
                            <span class="mat-h5" ngClass.xs="mat-h5">support@mrcall.com

                            </span>
                        </span>
                    </mat-card>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- <div class="cardpadding">
        <mat-card>
            <div fxLayout="column" fxLayoutGap="15px">
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between start" fxFlex
                    fxLayoutGap="15px">
                    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="15px" fxFlex="50">
                        <span class="brand-logo">
                            <span class="mat-h1 color-primary" ngClass.xs="mat-h3">MR CALL</span>
                        </span>
                        <div fxLayout="column">
                            <p class="mat-h4">MR Call </p>
                            <p class="mat-h4"> Dr.Bhargav</p>
                            <p class="mat-h4">3864 Quiet Valley Lane,</p>
                            <p class="mat-h4">Sherman Oaks, CA, 91403</p>

                        </div>
                    </div>
                    <div class="full-width" fxLayout="column" fxLayoutAlign="start end"
                        fxLayoutAlign.lt-sm="center center" fxFlex="40" fxFlex.lt-sm="100">
                        <p class="mat-title">APPOINTMENT NO #0001</p>
                        <p class="mat-h4">Date: June 22, 2022</p>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between start" fxFlex>
                    <div fxLayout="column wrap" fxLayoutAlign="start start" fxFlex="30" fxFlex.lt-sm="100">
                        <p class="mat-h2 color-primary">Weekend Avlibility</p>
                        <p class="mat-h3"> Monday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<span>3:00:PM to
                                9:00:AM</span> </p>
                        <p class="mat-h4">Tuesday&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<span>3:00:PM to 9:00:AM</span>
                        </p>
                        <p class="mat-h4">Wednesday&nbsp;&nbsp;<span>3:00:PM to 9:00:AM</span></p>
                        <p class="mat-h4">Thursday&nbsp;&nbsp; &nbsp; &nbsp;<span>3:00:PM to 9:00:AM</span></p>
                        <p class="mat-h4">Friday&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<span>3:00:PM to
                                9:00:AM</span></p>
                        <p class="mat-h4">Saturday&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<span>3:00:PM to 9:00:AM</span></p>
                        <p class="mat-h4 color-primary">Note : All Day 3:00:PM to 9:00:AM Same Time</p>

                    </div>

                    <div class="full-width" fxLayout="column" fxLayoutAlign="start"
                        fxLayoutAlign.lt-sm="space-between center" fxFlex="30" fxFlex.lt-md="50" fxFlex.lt-sm="100">
                        <p class="mat-h2 color-primary" fxLayout="row" fxLayoutAlign="center start">Call Timing</p>
                        <div fxLayout="row" fxLayoutAlign="space-between" class="full-width" fxFlex="50">
                            <p class="mat-h3">Morning: </p>
                            <p class="mat-h3">10:00: AM </p>
                            <p class="mat-h3">12:00: PM </p>



                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between" class="full-width" fxFlex="50">
                            <p class="mat-h4">Evening :</p>

                            <p class="mat-h4">00:00: AM </p>
                            <p class="mat-h4">00:00: PM </p>


                        </div>

                    </div>
                </div>

                <div class="full-width" fxLayout="row" fxLayoutAlign="center start" fxFlex>
                    <div fxLayout="column" fxFlex.lt-sm="50" fxLayoutGap="10px">
                        <p class="mat-h3 color-primary">FOR ANY QUERY PLEASE VISIT WEBSITE OR CALL</p>
                    </div>
                </div>
                <div class="full-width" fxLayout="row" fxLayoutAlign="start start" fxFlex>
                    <mat-card class="backgroud-color-primary color-white padding-top" fxLayoutGap="15px"
                        [ngStyle.xs]="{margin:'0px'}" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="33%">

                        <span class="menu-button mat-h2" fxFlex="33%">
                            <mat-icon class="color-white">settings_phone</mat-icon>
                            <span class="mat-h5" ngClass.xs="mat-h5">MR HELPLINE&nbsp;&nbsp;
                                + 91-9099898987
                            </span>
                        </span>
                        <span class="menu-button mat-h2" fxFlex="33%">
                            <mat-icon class="color-white">email</mat-icon>
                            <span class="mat-h5" ngClass.xs="mat-h5">support@easydoccall.com

                            </span>
                        </span>
                        <span class="menu-button mat-h2" fxFlex="33%">
                            <mat-icon class="color-white">language</mat-icon>
                            <span class="mat-h5" ngClass.xs="mat-h5">wwww.easydoccall.com

                            </span>
                        </span>
                    </mat-card>
                </div>

            </div>
        </mat-card>
    </div> -->
    <div fxLayoutAlign="center center">
        <button mat-raised-button color="primary" class="book-app-btn" (click)="downloadPdf()">Download
            Receipt</button>
    </div>