.img-height {
    height: 130px;
    width: auto;
}

.img-height-xs {
    height: auto;
    width: auto;
}

.appoinment-card {
    width: 420px;
    // min-width: ;
    height: auto;
    max-height: auto;
    align-items: center;
    line-height: 1px;
}

.appoinment-card-xs {
    width: auto;
    min-width: auto;
    height: auto;
    max-height: auto;
    align-items: center;
    line-height: 1px;
}


.website {
    margin-top: 3rem;
}

.website-xs {
    margin-top: 1rem;
}

.call-time {
    margin-top: 1rem;
}

.text {
    margin-top: 2rem;
}

.text-xs {
    margin-top: unset;
}

.evaning-time {
    margin-left: 5.2rem;
}

.evaning-time-xs {
    margin-left: unset;
}

// .doc-mr-sign {
//     margin-top: 4rem;
// }

.doc-mr-sign-xs {
    margin-top: unset;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;

    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }

    .mat-row,
    .mat-header-row {
        display: table-row;
    }

    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }

    .mat-header-cell {
        // font-size: 16px;
        color: #ffffff;
        background-color: #7661e2;
        padding: 5px;
    }
}

::ng-deep .mat-card-image-xs {
    margin: 0px 0px 10px 0px !important;
}

::ng-deep .mat-card-image {
    margin: 0px 0px 0px 0px !important;
}

.timing-p p {
    margin-bottom: 0px;
}