<div class="container" fxLayout="column" fxLayoutGap="20px">


  <!-- Slider Section -->
  <div class="slider " fxLayout="column">
    <section class="Slidersection" ngClass.xs="Slidersection-xs" [ngStyle.xs]="{ padding: '10px'}"
      [ngStyle.sm]="{ padding: '53px'}" [ngStyle.md]="{ padding: '63px'}" [ngStyle.lg]="{ padding: '65px'}"
      fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
      <div class="contain" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div class="Sliderleft" ngClass.xs="Sliderleft-xs">
          <div class="content" fxLayout="column" fxLayoutGap="10px" fxHide.lt-md fxShow.gt-md>
            <p class="matdisplay-3 color-accent">Serving Your Health<br>Needs is Our Priority</p>


          </div>
          <button fxHide.lt-md fxShow.gt-md mat-raised-button class="btn" (click)=gotologin() color="primary">Make
            Appointment
          </button>
          <div class="content" fxLayout="column" fxLayoutGap="10px" fxHide.gt-md fxShow.lt-md fxHide>
            <p class="mat-h1 color-accent">Serving Your Health<br>Needs is Our Priority</p>

            <button mat-raised-button class="btn" (click)=gotologin() color="primary">Make Appointment
            </button>

          </div>
        </div>

        <div class="Sliderright" ngClass.xs="Sliderright-xs">

        </div>

      </div>
    </section>
  </div>



  <!--  How it work -->
  <div class="header-home cardpadding secpartimg padding-top" fxLayout="column" fxLayoutGap="-130px">

    <div fxLayout="column" class="backgroud-color-primary padding-bottom work-heading" fxLayoutGap="30px">
      <div fxLayout="row" fxLayoutAlign="center center" class="how-it-work-heading cardpadding">
        <p class="mat-display-1 text-center color-white">How It Works? As Easy As 1, 2, 3..</p>
      </div>
    </div>

    <div fxLayout="column" fxLayoutGap="20px" fxHide.gt-md fxShow.lt-md fxHide>
      <p class="mat-h2 text-center color-primary">Our Services</p>
      <p class="mat-h1 text-center color-accent">Serving For Your Health</p>

    </div>

    <div class="padding-top-bottom" fxLayout="row" fxLayout.lt-md="row" fxLayout.lt-sm="column" fxLayoutGap="20px"
      fxLayoutAlign="center start" fxLayoutAlign.lt-md="center start" fxFlex="grow">
      <div class="dc-workdetails" fxLayout="column" fxLayoutAlign="start center" fxFlex="27">
        <div class="dc-workdetail">
          <figure class="backgroud-color-white figure-shadow" fxLayoutAlign="center center">
            <img src="assets/images/websitehome/works-1.png" alt="" style="width: 4.5rem; margin-top: -22px;
            margin-left: -22px;">
          </figure>
        </div>

        <div class="cardpadding" fxLayout="column" fxLayoutAlign="center center">
          <p class="mat-h1 text-center color-primary">Register In A Minute</p>
          <p class="mat-h4 text-center color-primary">Our easy to use website
            lets you register
            in a minute. Your information
            will be stored securely for upcoming visits.</p>
        </div>
      </div>
      <div class="dc-workdetails-border" fxShow.gt-md fxHide></div>
      <div class="dc-workdetails" fxLayout="column" fxLayoutAlign="start center" fxFlex="27">
        <div class="dc-workdetail">
          <figure class="backgroud-color-white figure-shadow" fxLayoutAlign="center center">
            <img src="assets/images/websitehome/works-2.png" alt="" style="width: 4.5rem; margin-top: -22px;
            margin-left: -22px;">
          </figure>
        </div>

        <div class="cardpadding" fxLayout="column" fxLayoutAlign="center center">
          <p class="mat-h1 text-center color-primary">Book Appointment</p>
          <p class="mat-h4 text-center color-primary">Connect you with a physician
            who really gets to
            know you, listens to you,
            and has time for you. Connect using your favorite devices.</p>
        </div>
      </div>
      <div class="dc-workdetails-bordertwo" fxShow.gt-md fxHide></div>
      <div class="dc-workdetails" fxLayout="column" fxLayoutAlign="start center" fxFlex="27">
        <div class="dc-workdetail">
          <figure class="backgroud-color-white figure-shadow " fxLayoutAlign="center center">
            <img src="assets/images/websitehome/works-3.png" alt="" style="width: 4.5rem; margin-top: -25px;
            margin-left: -35px;">
          </figure>
        </div>

        <div class="cardpadding" fxLayout="column" fxLayoutAlign="center center">
          <p class="mat-h1 text-center color-primary">Metting OneTime</p>
          <p class="mat-h4 text-center color-primary">Our physicians treat
            you so well that you
            feel better faster.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- service section -->
  <section class="section" fxLayout="row" fxLayoutAlign="center center">
    <div class="header-home cardpadding secpartimg padding-top" fxLayout="column" fxLayoutAlign.lt-sm="center center"
      fxLayoutGap="20px">
      <div fxLayout="column" fxLayoutGap="20px" fxHide.lt-md fxShow.gt-md>
        <p class="mat-h1 text-center color-primary">Our Services</p>
        <p class="mat-display-1 text-center color-accent">Serving For Your Health</p>

      </div>
      <div fxLayout="column" fxLayoutGap="20px" fxHide.gt-md fxShow.lt-md fxHide>
        <p class="mat-h2 text-center color-primary">Our Services</p>
        <p class="mat-h1 text-center color-accent">Serving For Your Health</p>

      </div>

      <div fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutGap="3px">

        <div *ngFor="let speciality of this.speciality; let i = index" class="qualuty-care-card  boxshadow"
          fxFlex.sm="50%">
          <div fxLayout="column" class="padding-top backgroud-color-gray ">


            <div>
              <img class="imgservice" fxFlex="60" src="{{speciality.image}}" alt="">
            </div>
            <div class="mat-h2 color-accent">{{speciality.name}}</div>
            <div class="mat-h5 color-grey">{{speciality.dec}}</div>
            <div>
              <button mat-button color="primary" color="accent"> Explore Now </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- service section -->
  <section class="Experience" fxLayout="row" fxLayoutAlign="center center">
    <div class="contain" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="rect10" ngClass.xs="rect10-xs" fxHide.lt-md fxShow.gt-md></div>
      <div class="mastgruop4" ngClass.xs="mastgruop4-xs"></div>
      <div class="rightnew" ngClass.xs="rightnew-xs">
        <div class="content" fxLayout="column" fxLayoutGap="10px" fxHide.lt-md fxShow.gt-md>

          <p class="mat-h1 color-primary">25+ Year Of Experience</p>

          <p class="matdisplay-2 color-accent">We Are Always Ensure<br> Best Medical Treatment<br> For Your Health</p>
          <p class="mat-h5 color-grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley
            of type and scrambled it to make a type specimen book.</p>
          <button mat-raised-button class="btn" color="primary"> Contact Us </button>
        </div>
        <div class="content" fxLayout="column" fxLayoutGap="10px" fxHide.gt-md fxShow.lt-md fxHide>

          <p class="mat-h2 color-primary">25+ Year Of Experience</p>

          <p class="mat-h1 color-accent">We Are Always Ensure<br> Best Medical Treatment<br> For Your Health</p>
          <p class="mat-h5 color-grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley
            of type and scrambled it to make a type specimen book.</p>
          <button mat-raised-button class="btn" color="primary"> Contact Us </button>
        </div>

      </div>
    </div>
  </section>

  <!-- benefit section start -->
  <section class="section" fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
    <div class="contain" ngClass.xs="contain-xs" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"
      fxLayoutGap="10px">
      <div class="left" ngClass.xs="left-xs"></div>
      <div class="right" ngClass.xs="right-xs">
        <div class="content" fxLayout="column" fxLayoutGap="10px" fxHide.lt-md fxShow.gt-md>

          <p class="mat-h1 color-primary"> Our Benefits ?</p>
          <p class="matdisplay-2 color-accent">Don't Be Hesitate To<br>Contact Us</p>

          <p class="mat-h3 color-grey">Medical insurance.</p>
          <p class="mat-h3 color-grey">Address your patients' physical needs.</p>
          <p class="mat-h3 color-grey">Strengthening communication with patient</p>
          <p class="mat-h3 color-grey">Nurturing patient trust, confidence and satisfaction.</p>
          <p class="mat-h3 color-grey">Preparing patients to care for themselves at home.</p>
          <p class="mat-h3 color-grey">Involve patients' family members and friends. </p>
          <button mat-raised-button class="btn" color="primary">Login/Register</button>
        </div>
        <div class="content" fxLayout="column" fxLayoutGap="10px" fxHide.gt-md fxShow.lt-md fxHide>

          <p class="mat-h2 color-primary"> Our Benefits ?</p>

          <p class="mat-h1 color-accent">Don't Be Hesitate To<br>Contact Us</p>
          <p class="mat-h3 color-grey">Medical insurance.</p>
          <p class="mat-h3 color-grey">Address your patients' physical needs.</p>
          <p class="mat-h3 color-grey">Strengthening communication with patient</p>
          <p class="mat-h3 color-grey">Nurturing patient trust, confidence and satisfaction.</p>
          <p class="mat-h3 color-grey">Preparing patients to care for themselves at home.</p>
          <p class="mat-h3 color-grey">Involve patients' family members and friends. </p>
          <button mat-raised-button class="btn" color="primary"> Login / Register </button>
        </div>
      </div>
    </div>
  </section>
  <!-- benefit section end -->

  <!-- expert doctor section start -->
  <div class="secpartimg padding-top">
    <div class="secpartimg padding-top" fxLayout="column" fxLayoutAlign="center center"
      fxLayoutAlign.lt-sm="center center" fxLayoutGap="20px">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxHide.lt-md fxShow.gt-md>
        <p class="mat-h1 text-center color-primary">Professional Team Members</p>
        <p class="mat-display-1 text-center color-accent">Meet Our Expert Doctors</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxHide.gt-md fxShow.lt-md fxHide>
        <p class="mat-h2 text-center color-primary">Professional Team Members</p>
        <p class="mat-h1 text-center color-accent">Meet Our Expert Doctors</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="45px grid">
          <div class="grouphead" *ngFor="let num of doctors ">
            <mat-card class="doctorcard2">
              <mat-card-content>
                <div fxLayout="column" fxLayoutAlign="center center">
                  <span class=" mat-h2 color-accent">{{num.name}}</span>
                  <span class=" mat-h3 color-primary">{{num.service}}</span>
                </div>
                <div class="change-avatar">
                  <div class="profile-imgdoctor">
                    <img mat-card-image [src]="num.url" alt="Photo of {{num.title}}">
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- faq and  section start -->
  <section class="faq" fxLayout="row" fxLayoutAlign="center center">
    <div class="contain" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="faqimgleft" ngClass.xs="faqimgleft-xs"></div>
      <div class="faqimgright" ngClass.xs="faqimgright-xs">
        <app-faq></app-faq>
      </div>
    </div>
  </section>
  <!-- faq and ask section start -->

  <!-- blog start section -->
  <div class="secpartimg padding-top" fxLayout="column" fxLayoutAlign="center center"
    fxLayoutAlign.lt-sm="center center" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxHide.lt-md fxShow.gt-md>
      <p class="mat-h1 text-center color-primary">Blog & News</p>
      <p class="mat-display-1 text-center color-accent">Read Our Letest New</p>

    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxHide.gt-md fxShow.lt-md fxHide>
      <p class="mat-h2 text-center color-primary">Blog & News</p>
      <p class="mat-h1 text-center color-accent">Read Our Letest New</p>

    </div>

    <div fxLayout="column" fxLayoutAlign="center center">

      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px grid">

        <div class="grouphead" *ngFor="let num of  members ">
          <mat-card class="doctorcard">


            <mat-card-content>
              <div class="change-avatar">
                <div class="profile-img">

                  <!-- <img [src]="num.url"
                  alt="User Image"> -->
                  <img mat-card-image [src]="num.url" alt="Photo of {{num.title}}">
                </div>
                <div fxLayout="column" fxLayoutAlign="start start">
                  <span class="mat-small">{{num.title}}</span>
                  <span class="mat-h4  color-secondary">{{num.subtitle}}</span>
                  <span class="mat-h4  color-secondary">Convenient An Affordable</span>



                  <span style=" text-decoration: underline;" class=" cursor color-primary mat-small"> Read More</span>

                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

    </div>

  </div>
  <div [ngStyle.xs]="{  padding:'0 20px 0 20px'}" [ngStyle.sm]="{ padding:'0 40px 0 40px'}"
    [ngStyle.md]="{ padding:'0 50px 0 50px'}" [ngStyle.lg]="{ padding:'0 60px 0 60px'}" fxLayout="column">
    <mat-card class="card-box-shadow backgroud-color-primary" fxHide.lt-md fxShow.gt-md fxLayout="row"
      fxLayoutGap="20px" fxLayoutAlign="center center">
      <p class="mat-h1 color-white">Want to make an appointment easily ?</p>
      <button mat-raised-button class="backgroud-color-white color-primary" (click)=gotologin()>
        Contact Here </button>
    </mat-card>
    <mat-card class="card-box-shadow backgroud-color-primary" fxHide.gt-md fxShow.lt-md fxHide fxLayout="column"
      fxLayoutGap="20px" fxLayoutAlign="center center">
      <p class="mat-h2 color-white">Want to make an appointment easily ?</p>
      <button mat-raised-button class="backgroud-color-white color-primary" (click)=gotologin()>
        Contact Here </button>
    </mat-card>
    <app-footer></app-footer>
  </div>

  <!-- <div class="backgroudblue" fxLayout="row" fxLayoutAlign="center center" >
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">

     
     
        <div  fxLayoutAlign="center center">
           <div class="matdisplay-3 color-white">Want to make an appointment easily ?</div>
          <button mat-raised-button class="backgroud-color-white color-primary" (click)=gotologin()>
            Contact Here </button>
        </div>

    </div>
   

  </div> -->


</div>