<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-around">
    <mat-card class="backgroud-color-primary color-white" [ngStyle.xs]="{margin:'0px'}">
        <div fxLayoul="column" fxFlex="90" fxFlex.lt.sm="100">
            <span class="menu-button mat-h2">
                <mat-icon class="color-white">credit_card</mat-icon>
                <span class="mat-h2" ngClass.xs="mat-h3">Share Card</span>
            </span>
        </div>
        <div fxLayoul="column" fxFlex="5" fxFlex.lt.sm="100">
            <button routerLink="/mr/brand-reminder-card" style="height: 30px; width:30px;"
                fxFlexAlign="center space-between" mat-mini-fab color="backgroud-color-white"
                aria-label="Example icon button with a menu icon">
                <mat-icon class="color-primary" style="margin-right: 0px;margin-top: -10px;">clear</mat-icon>
            </button>
        </div>
    </mat-card>

    <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="space-around">
        <mat-card class="appointmentcard background-color-primary-light" ngClass.xs="appointmentcard-xs">

            <span class="menu-button mat-h2">
                <mat-icon>assignment_turned_in</mat-icon>
                <span class="mat-h2" ngClass.xs="mat-h3"> Reminder Card Balance :20 </span>
            </span>
        </mat-card>
        <mat-card class="appointmentcard background-color-primary-light" ngClass.xs="appointmentcard-xs">
            <span class="menu-button mat-h2">
                <mat-icon>assignment</mat-icon>
                <span class="mat-h2" ngClass.xs="mat-h3">Purchase Reminder Card</span>
            </span>

        </mat-card>


    </div>
    <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-card class="background-color-primary-light">
            <div fxLayout="row">
                <div class="color-primary" style="margin-top:6px;">
                    <mat-icon class="color-primary">info</mat-icon>
                </div>
                &nbsp;&nbsp;
                <div>
                    <h2 class="color-primary" style="font-weight: 600; margin-top:5px;">Note:</h2>
                </div>
                &nbsp;&nbsp;
                <div fxLayout="column">
                    <h3 style="margin-top:7px;">Active appoinment show below arre your today's &
                        tommorrow's appoinment
                    </h3>
                </div>
            </div>
            <!-- <span class="menu-button color-primary">
                <mat-icon>info</mat-icon>
                <span class="mat-h1" ngClass.xs="mat-h2"> Notes:</span>
                <span class="mat-h1  color-" ngClass.xs="mat-h2">Booking Window Open from 3:00 P.M TO 9:00 A.M</span>
            </span>
            <span class="mat-h3"  ngClass.xs="mat-h5">
               A)&nbsp;<br>
               B)&nbsp;Booking Window Open from 3:00 P.M TO 9:00 A.M
            </span> -->


        </mat-card>

    </div>


    <div fxLayout="row" class="background-color-primary-light" fxLayoutGap="10px" fxLayout.xs="column"
        fxLayoutAlign="space-around">
        <mat-card fxLayoutGap="10px" class="twocard" ngClass.xs="twocard-xs" fxLayout="column">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" style="padding: 20px;">
                <div fxFlex="50">
                    <h2 Class="mat-h1" ngClass.xs="mat-h5">Share Brand Reminder Card</h2>


                    <mat-form-field style="min-width: calc(100% + 0px) !important;" appearance="outline">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="All">All</mat-option>
                            <mat-option value="Ahmedabad">Ahmedabad</mat-option>
                            <mat-option value="Surat">Surat</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div fxFlex="50">
                    <h2 Class="mat-h1" ngClass.xs="mat-h2" fxHide.xs>Share Brand Reminder Card</h2>

                    <mat-form-field style="min-width: calc(100% + 0px) !important;" appearance="outline">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="All">All</mat-option>
                            <mat-option value="Ahmedabad">Ahmedabad</mat-option>
                            <mat-option value="Surat">Surat</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" fxLayoutAlign="space-around">


                <div class="rectangle" [ngStyle.xs]="{    height: '250px;', width: '250px;' }"
                    fxLayoutAlign="center center">
                    Card Image
                </div>
                <div>
                    <button mat-raised-button color="primary">
                        <mat-icon class="color-white">keyboard_arrow_up</mat-icon>Send Card To Selected Doctors
                    </button>
                </div>
            </div>
        </mat-card>

    </div>
</div>