.mat-form-field {
    display: block !important;
    position: relative;
    text-align: left;
}

p {
    margin: 0;
}

mat-form-field {
    width: 100%;
    font-weight: 500;
}

a {
    text-decoration: none;
}

.row-height svg {
    position: absolute;
    height: 100%;
    width: 100%;
}

.cardsize {
    height: 340px;
    max-height: 340px;
    width: 350px;
    max-width: 350px;
    box-shadow: 0 0px 18px 0 rgba(0, 0, 0, 0.1);
}

.row-style {
    display: flex;
    flex-direction: row;
    place-content: center space-around;
    align-items: center;
}

.padding-button {
    padding-top: 20px;
}

.img-responsive {
    max-width: 70%;
    margin: 75px 0 0px 55px;
}

.cardimage {
    background-size: 380px 440px;
}

.mat-headline {
    margin: 0;
}