<div class="card-background-color" fxLayout="column" fxLayoutAlign="center">
  <mat-card class="backgroud-color-primary color-white" [ngStyle.xs]="{margin:'0px'}">
    <span class="menu-button mat-h2">
      <mat-icon class="color-white">dashboard</mat-icon>
      <span class="mat-h2" ngClass.xs="mat-h3">Dashboard</span>
    </span>
  </mat-card>
  <br>
  <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-around stretch" fxLayout.xs="column" fxFlex>

    <div fxFlex="60%" fxFlex.xs="100%" fxFlex.sm="100%" fxLayoutGap="15px" style="margin-right: 0px;">
      <mat-card fxLayoutGap="20px" class="background-color-primary-light card-margin-right" fxLayoutAlign="space-around stretch"
        fxLayout.xs="column">
        <mat-card class="card-box-shadow" ngClass.sm="card-box-shadow-sm" fxFlex="30" fxFlex.lt-sm="100">
          <div fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="start center">
              <mat-card-title ngClass.sm="title-height-sm">
                <p class="mat-h4" ngClass.xs="mat-h2">Doctor</p>
              </mat-card-title>
              <mat-card-content>
                <p class="mat-h1 color-primary">25</p>
              </mat-card-content>
            </div>
            <!-- </div> -->
          </div>
        </mat-card>
        <mat-card class="card-box-shadow" ngClass.sm="card-box-shadow-sm" fxFlex="30" fxFlex.lt-sm="100">
          <div fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="start center">
              <mat-card-title ngClass.sm="title-height-sm">
                <p class="mat-h4" ngClass.xs="mat-h2">Appointment</p>
              </mat-card-title>
              <mat-card-content>
                <p class="mat-h1 color-primary">35</p>
              </mat-card-content>              
            </div>
          </div>
        </mat-card>

        <mat-card class="card-box-shadow" ngClass.sm="card-box-shadow-sm" fxFlex="30" fxFlex.lt-sm="100" fxLayoutGap="15px">
          <div fxLayout="column" fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutAlign="start center">
              <mat-card-title ngClass.sm="title-height-sm">
                <p class="mat-h4" ngClass.xs="mat-h2">Today Appointment</p>
              </mat-card-title>
              <mat-card-content>
                <p class="mat-h1 color-primary">15</p>
              </mat-card-content>              
            </div>
          </div>
        </mat-card>
      </mat-card>
      <br>
      <mat-card class="cardsizedash card-margin-right background-color-primary-light" [ngStyle.xs]="{ width: 'auto'}" fxLayoutGap="15px">
        <mat-card-title class="mat-h4" ngClass.xs="mat-h2">Remaining Booking Points(0)</mat-card-title>
        <mat-card-content class="paddingLeft" fxLayout="column" fxLayoutGap="15px">
          <mat-card class="mat-h2" ngClass.xs="mat-h5"></mat-card>
          <mat-card class="mat-h2" ngClass.xs="mat-h5"></mat-card>
          <mat-card class="mat-h2" ngClass.xs="mat-h5"></mat-card>
        </mat-card-content>
      </mat-card>
      <br>
      <mat-card class="cardsizedash contain-box-shadow background-color-primary-light" [ngStyle.xs]="{ width: 'auto'}"
        fxLayoutGap="15px">
        <div fxLayout="row" class="paddingTop">
          <mat-card-title class="mat-h4" ngClass.xs="mat-h2">Important Notice</mat-card-title>
          <div class="fill"></div>

        </div>
        <mat-card-content class="paddingLeft" fxLayout="column" fxLayoutGap="15px">
          <!-- <mat-card-content class="paddingLeft mat-h5" ngClass.xs="mat-h5">Coming Soon...</mat-card-content> -->
          <mat-card class="mat-h5 " ngClass.xs="mat-h5">Tutorial:&nbsp;<span class="txtdecorate font-color-primary2">How
              to
              book Dr appointment
              and queue system</span></mat-card>
          <mat-card class="mat-h5" ngClass.xs="mat-h5">Tutorial:<span class="txtdecorate font-color-primary2">How to
              book
              Dr appointment and
              queue system</span></mat-card>
          <mat-card class="mat-h5 " ngClass.xs="mat-h5">Tutorial:<span class="txtdecorate font-color-primary2">How to
              book
              Dr appointment and
              queue system</span></mat-card>
        </mat-card-content>
      </mat-card>
    </div>


    <div fxFlex="38%" fxFlex.xs="100%" fxFlex.lt-sm="33%" fxFlex.lt-md="50%" fxLayout.xs="column">
      <mat-card [ngStyle.xs]="{ width: 'auto'}" style="margin-right: 0px;" class="background-color-primary-light">
        <mat-card-title class="mat-h4" ngClass.xs="mat-h2">News Feeds</mat-card-title>
        <mat-card-content class="paddingLeft mat-h5" ngClass.xs="mat-h5">Coming Soon...</mat-card-content>
      </mat-card>
      <br>
      <mat-card [ngStyle.xs]="{ width: 'auto'}" fxLayoutGap="20px" class="background-color-primary-light">
        <div fxLayout="row" class="paddingTop">
          <mat-card-title class="mat-h4" ngClass.xs="mat-h2">Vacancy</mat-card-title>
          <div class="fill"></div>

        </div>
        <div class="fill"></div>
        <mat-card-content class="paddingLeft" fxLayout="column" fxLayoutGap="8px">
          <!-- <mat-card-content class="paddingLeft mat-h5" ngClass.xs="mat-h5">Coming Soon...</mat-card-content> -->

          <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="mat-h2">
            <span ngClass.xs="mat-h5" class="mat-h5"><button mat-button mat-raised-button
                class="backgroud-color-primary color-white">Description</button></span>
            <span ngClass.xs="mat-h5" class="mat-h5">Need Candidate for Baroda</span>
          </div>

          <div fxLayout="row" fxLayoutGap="10px">
            <span ngClass.xs="mat-h5"><button mat-button mat-raised-button
                class="backgroud-color-primary color-white">Description</button></span>
            <span ngClass.xs="mat-h5" class="mat-h5">Need Candidate for Baroda</span>
          </div>

          <div fxLayout="row" fxLayoutGap="10px">
            <span ngClass.xs="mat-h5"><button mat-button mat-raised-button
                class="backgroud-color-primary color-white">Description</button></span>
            <span ngClass.xs="mat-h5" class="mat-h5">Need Candidate for Baroda</span>
          </div>

          <div fxLayout="row" fxLayoutGap="10px">
            <span ngClass.xs="mat-h5"><button mat-button mat-raised-button
                class="backgroud-color-primary color-white">Description</button></span>
            <span ngClass.xs="mat-h5" class="mat-h5">Need Candidate for Baroda</span>
          </div>

          <div fxLayout="row" fxLayoutGap="10px">
            <span ngClass.xs="mat-h5"><button mat-button mat-raised-button
                class="backgroud-color-primary color-white">Description</button></span>
            <span ngClass.xs="mat-h5" class="mat-h5">Need Candidate for Baroda</span>
          </div>

          <div fxLayout="row" fxLayoutGap="10px">
            <span ngClass.xs="mat-h5"><button mat-button mat-raised-button
                class="backgroud-color-primary color-white">Description</button></span>
            <span ngClass.xs="mat-h5" class="mat-h5">Need Candidate for Baroda</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
