<div fxLayout="column" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="15px" style="margin-bottom: 0px;">

    <mat-card class="backgroud-color-primary color-white" fxLayoutGap="15px" [ngStyle.xs]="{margin:'0px'}">

        <span class="menu-button mat-h2">
            <mat-icon class="color-white">assignment_turned_in</mat-icon>
            <span class="mat-h2" ngClass.xs="mat-h3">BookAppoinment</span>
        </span>
    </mat-card>

    <!-- <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-around" fxLayout.xs="column">
        <mat-card class="appointmentcard background-color-primary-light" ngClass.xs="appointmentcard-xs">

            <span class="menu-button mat-h2">
                <mat-icon>assignment_turned_in</mat-icon>
                <span class="mat-h2" ngClass.xs="mat-h3"> Appointment Booking Points(0)</span>
            </span>
        </mat-card>
        <mat-card class="appointmentcard background-color-primary-light" ngClass.xs="appointmentcard-xs">
            <span class="menu-button mat-h2">
                <mat-icon>assignment</mat-icon>
                <span class="mat-h2" ngClass.xs="mat-h3">Purchase Booking Points</span>
            </span>

        </mat-card>


    </div> -->

    <div fxLayout="column" fxLayoutAlign="space-around" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-card class="background-color-primary-light">
            <span class="menu-button color-primary">
                <mat-icon class="color-primary">info</mat-icon>
                <span class="mat-h1" ngClass.xs="mat-h2"> Notes:</span>
            </span>
            <span class="mat-h3" ngClass.xs="mat-h5">
                A)&nbsp;Booking Window Open from 3:00 P.M TO 9:00 A.M<br>
            </span>
        </mat-card>
    </div>

    <!-- Meeting Date Card -->
    <!-- <div class="meeting-card">
        <mat-card fxLayoutGap="10px" fxFlex="37" fxFlex.md="51" fxFlex.sm="60" fxFlex.xs="100" class="backgroud-color-primary color-white" fxLayout="row">
            <mat-icon class="color-white">date_range</mat-icon>
            <span class="mat-h3" ngClass.xs="mat-h4">Meeting Date: </span>
            <span class="mat-h2" ngClass.xs="mat-h3">Friday, 1st Jul, 2022</span>
        </mat-card>
    </div> -->

    <div fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="10px">
        <mat-card fxLayout="row" fxLayoutAlign="start center" class="background-color-primary-light">
            <!-- <div class="background-color-primary-light"> -->
            <mat-toolbar class="backgroud-color-white">
                <form [formGroup]="DatePickerForm">
                <span class="fileter-width">
                    <mat-form-field>
                        <input formControlName="DateForm"  (dateChange)="FilterDoctorList('change', $event)"  matInput [matDatepicker]="picker" [min]="minDate" datePickerFormat="YYYY/DD/MM"
                            placeholder="Choose a date">

                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>

                    </mat-form-field>
                </span>
            </form>
            </mat-toolbar>
            <!-- </div> -->
        </mat-card>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="10px">
        <form [formGroup]="searchdataForm">
            <mat-card fxLayout="row" fxLayoutGap="20px" style="padding:20px"
                class="threecard background-color-primary-light" fxLayout.xs="column">

                <mat-card fxFlex="33" fxLayout="row" fxLayoutAlign="center center">
                    <span class="mat-h2">
                        Total Doctors in My List: &nbsp;<span fxLayout.xs="row" fxLayoutAlign.xs="center center"
                            class="backgroud-color-primary color-white total-dr-list">{{count}}</span>
                    </span>
                </mat-card>
                <!-- <div fxLayout.sm="row" fxLayoutGap.sm="10px"> -->
                <mat-card fxFlex="33" fxLayout="row" fxLayoutAlign="center center">
                    <div>
                        <mat-toolbar class="backgroud-color-white card-padding-dashboard">
                            <mat-form-field>
                                <mat-label>Select Teritory</mat-label>
                                <mat-select formControlName="city" id="city"
                                    (selectionChange)="Cityfilter($event.value)">
                                    <!-- <mat-option value="All">All</mat-option> -->
                                    <mat-option value="Ahmedabad">Ahmedabad</mat-option>
                                    <mat-option value="Surat">Surat</mat-option>
                                    <mat-option value="Jamnagar">Jamnagar</mat-option>
                                    <mat-option value="Rajkot">Rajkot</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-toolbar>
                    </div>
                </mat-card>
                <mat-card fxFlex="33" fxLayout="row" fxLayoutAlign="center center">
                    <div>
                        <mat-toolbar class="background-color-primary-light card-padding-dashboard">
                            <span class="fileter-width">
                                <mat-form-field>
                                    <input matInput formControlName="search" id="search" [(ngModel)]="value"
                                        placeholder="Get Doctor List">
                                    <button mat-button class="remove-search" matSuffix mat-icon-button
                                        aria-label="Clear" (click)="serchDoctorfilter()">
                                        <mat-icon class="mat-18">search</mat-icon>
                                    </button>
                                </mat-form-field>
                            </span>
                        </mat-toolbar>
                    </div>
                </mat-card>
                <!-- </div> -->
            </mat-card>
        </form>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="space-around" fxLayoutGap="15px " fxLayoutGap.sm="10px"
        fxLayout.xs="column">

        <mat-card *ngFor="let item of FavdoctorList" fxFlex="32%" fxflex="100%" fxFlex.xs="100%" fxFlex.sm="32%"
            class="twocard" class="background-color-primary-light twocard" ngClass.xs="twocard-xs" fxLayout="column">
            <div>
                <span class="mat-h2 cursor-pointer" ngClass.xs="mat-h2 cursor-pointer">{{item.doctorName}}
                    <span>({{item.degree}})</span></span>

                <span class="menu-button  color-primary">
                    <mat-icon> local_hospital</mat-icon>
                    <span class="mat-h3" ngClass.xs="mat-h4"> {{item.speciality}}</span>
                </span>
                <span class="menu-button">
                    <mat-icon> place</mat-icon>
                    <span class="mat-h5" ngClass.xs="mat-h4"> {{item.street1}},{{item.street2}},{{item.city}}</span>
                </span>

                <span *ngIf="!this.timeget ">
                    <span class=" mat-h3" ngClass.xs="mat-h3">Booking For Tomorrow Will Open at 3.00 PM</span>
                </span>
                <span *ngIf="this.timeget ">
                    <span class="mat-h3" ngClass.xs="mat-h3">Mark the time slot to book the appointment </span>
                </span>
            </div>
            <div *ngIf="this.timeget ">
                <!-- <span>{{currenttime | date:'fullDate'}}</span><br> -->
                <span style="font-weight:600;">Tomorrow Schedule:</span>
                <br>
                <span>{{item.tomorrowSchedule.day}}</span>&nbsp;&nbsp;
                <span>{{item.tomorrowSchedule.date | date: 'yyyy/MM/dd'}}</span>
                <div class="timezone">
                    <mat-radio-group aria-label="Select an option" color="primary" fxLayoutGap="20px">
                        <mat-radio-button class="example-radio-button" [value]="slot"
                            *ngFor="let slot of item.tomorrowSchedule.slotTime" (change)="timesloatChange($event)">
                            {{slot.startTime}}-{{slot.endTime}}
                        </mat-radio-button>
                    </mat-radio-group>

                </div>
                <br>
                <span style="font-weight:600;">Day After Schedule:</span>
                <br>
                <span>{{item.dayAfterSchedule.day}}</span>&nbsp;&nbsp;
                <span>{{item.dayAfterSchedule.date | date: 'yyyy/MM/dd'}}</span>
                <div class="timezone">
                    <mat-radio-group aria-label="Select an option" color="primary" fxLayoutGap="20px">
                        <mat-radio-button class="example-radio-button" [value]="slot"
                            *ngFor="let slot of item.dayAfterSchedule.slotTime" (change)="timesloatChange($event)">
                            {{slot.startTime}}-{{slot.endTime}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div fxLayoutAlign="center center">
                    <button mat-raised-button color="primary" class="book-app-btn"
                        (click)="BookAppointment({id:item.doctorId,date:item.tomorrowSchedule.date })" fxFlex="50"
                        fxFlex.sm="100">Book
                        Appointment</button>
                </div>
            </div>
        </mat-card>
    </div>
</div>