.required {
    color: red;
    padding-left: 3px;
}

.profile-img {
    height: 70px;
    width: 70px;
}

.rating-color {
    color: gold;
}

.mat-h4 {
    margin-right: 10px;
}

.rating {
    margin-right: -50px;
}

.example-card {
    background-color: #15558d !important;
    color: white;
    font-weight: 600;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.mat-elevation-z4 {
    height: auto;
    max-height: auto;
}

.mat-chip-align {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.mat-standard-chip {
    min-height: 22px !important;
}