h4.modal-title.pull-left {
	font-size: 20px !important;
    margin-bottom: 0 !important; 
    line-height: 1.5 !important;
}
p{
    margin: 0;
}
mat-icon{
    color: #15558D;
}
.profile-img{
    height: 140px;
    width: 140px;
    border-radius: 10px;
}
.card-box-shadow{
    box-shadow: 0 0px 18px 0 rgba(0, 0, 0, 0.1);
}
.actions-button .mat-raised-button{
    font-size: 18px !important;
    font-weight: 600;
    color: #ffffff;
}