<div class="cardpadding" fxLayout="column" fxLayoutGap="20px">
  <mat-card class="card-box-shadow">
    <p class="mat-h1 color-primary">Appointments</p>
  </mat-card>
  <!-- {{Nopatients}} -->
  <!-- <mat-card *ngIf="Nopatients"  class="card-box-shadow">
    <p class="mat-h3 color-primary">No Appointment Available</p>
  </mat-card> -->
  <div class="cardpadding" fxLayout="column " fxLayoutGap="10px">
    <!-- {{this.patients | json}} -->
    <!-- *ngFor="let item of this.patients" -->
    <div fxLayout="column" fxLayoutGap="10px">
      <mat-card class="card-box-shadow" *ngFor="let item of ViewAppoinmentDr">
        <div fxLayout="row " fxLayout.lt-sm="column" fxLayoutAlign="space-between start"
          fxLayoutAlign.lt-sm="center center" fxLayoutGap="10px" fxFlex>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="80" fxFlex.lt-sm="100">
            <div fxLayout="row" fxLayoutAlign.lt-sm="center center">
              <!-- <img src="{{item.image}}" alt=""  class="profile-img"> -->
              <img src="https://source.unsplash.com/c_GmwfHBDzk/200x200" alt="" class="profile-img">

            </div>
            <div fxLayout="column" fxLayoutGap="10px">
              <div fxLayout="row" fxLayoutGap="10px">
                <mat-icon>person</mat-icon>
                <p class="mat-h3">
                  {{item.mrName}}
                </p>
              </div>
              <div fxLayout="row" fxLayoutGap="10px">
                <mat-icon>date_range</mat-icon>
                <p class="mat-h3">
                  {{item.appointmentDate | date: "dd MM yyyy"}}
                </p>
              </div>
              <div fxLayout="row" fxLayoutGap="10px">
                <mat-icon>view_week</mat-icon>
                <p class="mat-h3">
                  {{ item.day}}
              </div>

              <div fxLayout="row" fxLayoutGap="10px">
                <mat-icon>access_time</mat-icon>
                <p class="mat-h3">
                  {{ item.startTime}} - {{ item.endTime}}
              </div>
              <div fxLayout="row" fxLayoutGap="10px">
                <mat-icon>done</mat-icon>
                <p class="mat-h3">
                  {{item.status}}
              </div>
            </div>
          </div>
          <div fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center" fxLayoutGap="10px" fxFlex="20"
            fxFlex.lt-sm="100" class="actions-button">
            <button [disabled]="item.status == 'Cancelled' || item.status == 'Accepted'" mat-raised-button
              color="primary" (click)="accept ([{id:'1'}], 'Accept',item)">Accept</button>
            <button [disabled]="item.status == 'Cancelled' || item.status == 'Accepted'" mat-raised-button color="warn"
              (click)="accept   ([{id:'1'}], 'Cancel',item)">Cancel</button>
            <button mat-raised-button color="accent" (click)="accept  ([{id:'1'}], 'Block')">Block</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>