.mat-form-field {
  width: 100%;
  font-weight: 500;
}

.mat-form-field-half {
  width: 80%;
  font-weight: 500;
  margin-left: 25px;
}

.mat-card-actions button{
  margin: 5px 0px;
}
.notice-card .menu-button{
  align-items: unset;
}
.notice-card .menu-button mat-icon{
  margin-top: 10px;
}