<mat-card class="backgroud-color-primary color-white" style="margin:15px" [ngStyle.xs]="{margin:'0px'}"
  fxLayoutAlign="space-around">
  <div fxLayoul="column" fxFlex="90" fxFlex.lt.sm="100">
    <span class="menu-button mat-h2">
      <mat-icon class="color-white">credit_card</mat-icon>
      <span class="mat-h2" ngClass.xs="mat-h3">Change Password</span>
    </span>
  </div>
  <div fxLayoul="column" fxFlex="5" fxFlex.lt.sm="100">
    <button routerLink="/mr/profile-settings" style="height: 30px; width:30px;" fxFlexAlign="center space-between"
      mat-mini-fab color="backgroud-color-white" aria-label="Example icon button with a menu icon">
      <mat-icon class="color-primary" style="margin-right: 0px;margin-top: -10px;">clear</mat-icon>
    </button>
  </div>
</mat-card>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" style="padding: 20px;" fxLayoutAlign="space-around">
  <mat-card fxFlex="50" class="background-color-primary-light" style="height: auto; max-height: auto;"
    [ngStyle.xs]="{  height: 'auto;' }" [ngStyle.sm]="{  height: 'auto;' }">
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title class="mat-h2">Change Password</mat-card-title>

    </mat-card-header>
    <div class="backgroud-color-white" style="padding: 30px 30px 30px 30px;">
      <mat-card-content fxLayoutAlign.xs="center center" style="border-radius: 10px;">
        <form #loginForm="ngForm">

          <mat-form-field class="mat-form-field" ngClass.xs="mat-form-field-half" appearance="outline">
            <mat-label>Old Password</mat-label>
            <input matInput type="password" placeholder="Enter Old Password" required>


          </mat-form-field>

          <mat-form-field class="mat-form-field" ngClass.xs="mat-form-field-half" appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput type="password" placeholder="Enter New Password" required>


          </mat-form-field>
          <mat-form-field class="mat-form-field" ngClass.xs="mat-form-field-half" appearance="outline">
            <mat-label>Re-Type New Password</mat-label>
            <input matInput type="password" placeholder="Re-Type New Password" required>


          </mat-form-field>


          <mat-card-actions fxLayout.xs="column" fxLayoutAlign.xs="center center" align="center" fxLayoutGap="10px">


            <button mat-raised-button color="primary">
              <mat-icon class="color-white">refresh</mat-icon>Reset
            </button>
            <button mat-raised-button color="primary">
              <mat-icon class="color-white">edit</mat-icon>Update Password
            </button>

          </mat-card-actions>
        </form>

      </mat-card-content>
    </div>
  </mat-card>
  <mat-card fxFlex="50" class="background-color-primary-light notice-card" style="height: 238px; max-height: 650px;"
    [ngStyle.xs]="{  height: '650px;' }" [ngStyle.sm]="{  height: 'auto;' }">
    <span class="menu-button" >
      <mat-icon class="color-primary">info</mat-icon>
      <p><span class="mat-h1 color-primary" ngClass.xs="mat-h2"> Notes: </span><span class="mat-h3" ngClass.xs="mat-h5">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
        type specimen book.
      </span></p>
    </span>
    
  </mat-card>

</div>