.spacediv {
    margin-top: 35px;
}

mat-form-field {
    width: 100%;
    font-weight: 500;
}

.mat-form-field {
    display: block !important;
    position: relative;
    text-align: left;
}

mat-form-field {
    width: 100%;
    font-weight: 500;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

/* .row-height svg {
    position: absolute;
    height: 100%;
    width: 100%;
} */
.row-height {
    min-height: 50vh;
    margin-top: 5rem;
}

.cardsize {

    height: 320px;
    max-height: 320px;
    width: 350px;
    max-width: 350px;
    box-shadow: 0 0px 18px 0 rgba(0, 0, 0, 0.1)
}

.otp-cardsize {
    height: 370px;
    max-height: 370px;
    width: 350px;
    max-width: 350px;
    box-shadow: 0 0px 18px 0 rgba(0, 0, 0, 0.1)
}

.row-style {
    display: flex;
    flex-direction: row;
    place-content: center space-around;
    align-items: center;
}

.padding-button {
    padding-top: 20px;
}

.img-responsive {
    max-width: 80%;
    margin: 30px 0 0px 0px;
}

.cardimage {
    background-size: 380px 440px;
}


.mat-headline {
    margin: 0;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}