<mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="UsercheckemailForm" [editable]="isEditable" [completed]="UsercheckemailForm.valid">
        <ng-template matStepLabel> Forgot Password</ng-template>
        <div fxLayout="row wrap" fxLayout="column" fxLayoutAlign="center center" class="row-height">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutGap="1px"
                fxLayoutGap.xs="15px">
                <mat-card fxHide.xs class="cardimage cardsize backgroud-color-gray" fxFlex.sm="50%">
                    <span fxLayoutAlign="start">
                        <a routerLink="/website/home">
                            <!-- <img src="assets/img/login-banner.png" height="90px" alt="logo"> -->
                            <p class="color-primary mat-headline">MR Call</p>
                        </a>
                    </span>
                    <span>
                        <img src="assets/images/websitehome/image-3.png" class="img-responsive" alt="banner">
                    </span>
                </mat-card>
                <span fxLayoutAlign="center center" fxHide.sm fxHide.gt-sm>
                    <img src="assets/images/websitehome/image-3.png" height="100px" alt="logo">
                </span>
                <mat-card class="cardsize" fxFlex.sm="50">
                    <div class="cardpadding">
                        <mat-card-title class="padding-top">
                            <span fxLayoutAlign="center" class="color-primary">Enter Email Or Mobile No</span>
                        </mat-card-title>

                        <mat-card-content class="spacediv">
                            <form [formGroup]="UsercheckemailForm" autocomplete="off" (keyup.enter)="submit()">
                                <!-- Email field -->

                                <mat-form-field appearance="outline">
                                    <mat-label> Email ID / Mobile Number </mat-label>
                                    <input matInput formControlName="username" type="text" id="Username" maxlength="256"
                                        required>
                                    <mat-error>Email ID / Mobile Number is required</mat-error>

                                </mat-form-field>
                                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
                                    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="this.error">
                                        <p class="color-warn">{{this.error}}</p>
                                    </div>

                                </div>
                                <!-- submit button -->
                                <div class="spacediv" fxLayoutAlign="center">
                                    <button routerLink="/patient/patient-forgot-password" mat-button mat-raised-button
                                        color="primary" [disabled]="UsercheckemailForm.invalid" fxFlex="90"
                                        (click)="submit()">Next</button>
                                </div>
                            </form>
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-step>
    <mat-step [stepControl]="OtpsubmitForm" [editable]="isEditable" [completed]="OtpsubmitForm.valid">
        <ng-template matStepLabel> Enter OTP</ng-template>
        <div fxLayout="row wrap" fxLayout="column" fxLayoutAlign="center center" class="row-height">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutGap="1px"
                fxLayoutGap.xs="15px">
                <mat-card fxHide.xs class="cardimage otp-cardsize backgroud-color-gray" fxFlex.sm="50%">
                    <span fxLayoutAlign="start">
                        <a routerLink="/website/home">
                            <p class="color-primary mat-headline">MR Call</p>
                        </a>
                    </span>
                    <span>
                        <img src="assets/images/websitehome/image-3.png" class="img-responsive" alt="banner">
                    </span>
                </mat-card>
                <span fxLayoutAlign="center center" fxHide.sm fxHide.gt-sm>
                    <img src="assets/images/websitehome/image-3.png" height="100px" alt="logo">
                </span>
                <mat-card class="otp-cardsize" fxFlex.sm="50">
                    <div class="cardpadding">
                        <mat-card-title class="padding-top">
                            <span fxLayoutAlign="center" class="color-primary"> Enter OTP </span>
                        </mat-card-title>
                        <p class="mat-h4 text-center"> An Enter 4 digit code has been sent to your your mobile number
                            and
                            Email
                        </p>
                        <mat-card-content class="spacediv">

                            <form [formGroup]="OtpsubmitForm" autocomplete="off" required>
                                <!-- OTP input -->
                                <mat-card-content class="spacediv" fxLayoutAlign="center ">
                                    <ng-otp-input inputmode="tel" #ngOtpInput (onInputChange)="onOtpChange($event)"
                                        [config]="{length:4,allowNumbersOnly: true,isPasswordInput: false,disableAutoFocus: false}">
                                    </ng-otp-input>
                                </mat-card-content>
                                <!-- Countdown -->
                                <mat-card-actions style="padding: 0px;">
                                    <span fxLayoutAlign="center" class="spacediv color-primary">
                                        <countdown #countdown (event)="onEvent($event)"
                                            [config]="{ leftTime: 30, format: 'mm:ss' }"></countdown>
                                    </span>
                                    <!-- Resend Button (click)="countdown.restart()" -->
                                    <div fxLayoutAlign="center">
                                        <button mat-button mat-raised-button color="primary" fxFlex="90"
                                            (click)="Resend()" [disabled]="this.selectedValue != 0">Resend</button>
                                    </div>

                                    <div class="spacediv" fxLayoutAlign="center">
                                        <button mat-button mat-raised-button color="primary" fxFlex="90"
                                            [disabled]="OtpsubmitForm.invalid">Send
                                            Otp</button>
                                    </div>
                                </mat-card-actions>
                            </form>
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-step>
    <mat-step [stepControl]="forgotForm">
        <ng-template matStepLabel>Reset password</ng-template>
        <div fxLayout="row wrap" fxLayout="column" fxLayoutAlign="center center" class="row-height">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutGap="1px"
                fxLayoutGap.xs="15px">
                <mat-card fxHide.xs class="cardimage cardsize backgroud-color-gray" fxFlex.sm="50%">
                    <span fxLayoutAlign="start">
                        <a routerLink="/website/home">
                            <p class="color-primary mat-headline">MR Call</p>
                        </a>
                    </span>
                    <span>
                        <img src="assets/images/websitehome/image-3.png" class="img-responsive" alt="banner">
                    </span>
                </mat-card>
                <span fxLayoutAlign="center center" fxHide.sm fxHide.gt-sm>
                    <img src="assets/images/websitehome/image-3.png" height="100px" alt="logo">
                </span>
                <mat-card class="cardsize" fxFlex.sm="50">
                    <div class="cardpadding">
                        <mat-card-title class="padding-top">
                            <span fxLayoutAlign="center" class="color-primary">Create New Password</span>
                        </mat-card-title>

                        <mat-card-content class="spacediv">

                            <form [formGroup]="forgotForm" autocomplete="off" (keyup.enter)="Send()" required>
                                <mat-form-field appearance="outline">
                                    <mat-label> Create New Password</mat-label>
                                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"
                                        type="password" id="password" required>
                                    <mat-icon class="cursor-pointer" matSuffix (click)="hide = !hide">
                                        {{hide ? 'visibility_off' : 'visibility'}}
                                    </mat-icon>
                                    <mat-error *ngIf="password.errors?.required">Change New Password is
                                        required.
                                    </mat-error>
                                    <mat-error *ngIf="password.errors?.pattern">At least 8 characters in length
                                        Lowercase and
                                        Uppercase letters Numbers Special characters
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>Confirm New Password</mat-label>
                                    <input matInput formControlName="c_password" [type]="hidecon ? 'password' : 'text'"
                                        id="c_password" required>
                                    <mat-icon class="cursor-pointer" matSuffix (click)="hidecon = !hidecon">
                                        {{hidecon ? 'visibility_off' : 'visibility'}}
                                    </mat-icon>
                                    <mat-error *ngIf="c_password.errors?.required">Confirm New Password is
                                        required.
                                    </mat-error>
                                    <mat-error *ngIf="c_password.errors?.pattern">At least 8 characters in
                                        length
                                        Lowercase and
                                        Uppercase letters Numbers Special characters
                                    </mat-error>
                                    <mat-error *ngIf="forgotForm.get('c_password').hasError('mismatch')">
                                        Password and confirm password are not matching
                                    </mat-error>
                                </mat-form-field>

                                <div class="spacediv" fxLayoutAlign="center">
                                    <button mat-button mat-raised-button color="primary" [disabled]="forgotForm.invalid"
                                        fxFlex="90" (click)="Send()">Submit
                                    </button>
                                </div>
                            </form>
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Sucess</ng-template>
        <div fxLayout="row wrap" fxLayout="column" fxLayoutAlign="center center" style="min-height: 80vh;">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxFlex.xs="100%" fxFlex.sm="33%"
                fxFlex.sm="100">
                <mat-card class="cardpaddings" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.sm="100"
                    style=" height: 160px; box-shadow: 0 0px 18px 0 rgba(0, 0, 0, 0.1)">
                    <div class="success-cont cardpadding" FxLayoutAlign=" center center"
                        style="text-align: center; height:100px">
                        <mat-icon color="primary" style="font-size: 60px;
                               width: auto;
                               height: auto;">
                            check_circle
                        </mat-icon>
                        <br>
                        <p class="mat-h3">Password Change Successfully!</p>
                        <br>
                        <!-- <a [routerLink]="'/invoice-details'" class="btn btn-primary view-inv-btn">View Invoice</a> -->
                        <button mat-raised-button color="primary" [routerLink]="'/mr/mr-login'">Done</button>
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-step>
    <ng-template matStepperIcon="done" class="color-white">
        <mat-icon class="color-white">done</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="done" class="color-white">
        <mat-icon class="color-white">done</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="done" class="color-white">
        <mat-icon class="color-white">done</mat-icon>
    </ng-template>
</mat-horizontal-stepper>