<div fxLayout="row wrap" fxLayout="column" fxLayoutAlign="center center" class="row-height">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutGap="1px" fxLayoutGap.xs="15px">
        <mat-card fxHide.xs class="cardimage cardsize backgroud-color-gray" fxFlex.sm="50%">
            <span fxLayoutAlign="start">
                <a routerLink="/website/home">
                    <!-- <img src="assets/img/login-banner.png" height="90px" alt="logo"> -->
                    <p class="color-primary mat-headline">MR Call</p>
                </a>
            </span>
            <span>
                <img src="assets/images/websitehome/image-3.png" class="img-responsive" alt="banner">
            </span>
        </mat-card>
        <span fxLayoutAlign="center center" fxHide.sm fxHide.gt-sm>
            <img src="assets/images/websitehome/image-3.png" height="100px" alt="logo">
        </span>
        <mat-card class="cardsize" fxFlex.sm="50">
            <div class="cardpadding">
                <mat-card-title class="padding-top">
                    <span fxLayoutAlign="center" class="color-primary">Forgot password</span>
                </mat-card-title>

                <mat-card-content class="spacediv">
                    <form [formGroup]="forgotForm" autocomplete="off" (keyup.enter)="Send()">
                        <!-- Change New password field -->

                        <mat-form-field appearance="outline">
                            <mat-label> Change New Password</mat-label>
                            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"
                                type="password" id="password" required>
                            <mat-icon class="cursor-pointer" matSuffix (click)="hide = !hide">
                                {{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <mat-error *ngIf="password.errors?.required">Change New Password is required.
                            </mat-error>
                            <mat-error *ngIf="password.errors?.pattern">At least 8 characters in length Lowercase and
                                Uppercase letters Numbers Special characters
                            </mat-error>
                        </mat-form-field>
                        <!-- <br> -->

                        <!-- Confirm password field -->

                        <mat-form-field appearance="outline">
                            <mat-label>Confirm New Password</mat-label>
                            <input matInput formControlName="c_password" [type]="hidecon ? 'password' : 'text'"
                                id="c_password" required>
                            <mat-icon class="cursor-pointer" matSuffix (click)="hidecon = !hidecon">
                                {{hidecon ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <mat-error *ngIf="c_password.errors?.required">Confirm New Password is required.
                            </mat-error>
                            <mat-error *ngIf="c_password.errors?.pattern">At least 8 characters in length Lowercase and
                                Uppercase letters Numbers Special characters
                            </mat-error>
                            <mat-error *ngIf="forgotForm.get('c_password').hasError('mismatch')">
                                Password and confirm password are not matching
                            </mat-error>
                        </mat-form-field>

                        <!-- Send button -->
                        <div class="spacediv" fxLayoutAlign="center">
                            <button mat-button mat-raised-button color="primary" [disabled]="forgotForm.invalid"
                                fxFlex="90" (click)="Send()">Send
                                Otp</button>
                        </div>
                    </form>
                </mat-card-content>
            </div>
        </mat-card>
    </div>

</div>