.social-icon {
    font-size: 20px;
}

.padding-center {
    padding: 40px 0px;
}

.footer-text .mat-h2 {
    font-weight: 600;
    font-size: 19px;
}

.footer li {
    list-style: none;
}

.footer img {
    width: 255px;
    height: 50px;
}

.footer {
    bottom: 0;
    width: 100%;
    margin: 0px;
}

a {
    text-decoration: none;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.mat-h4,
.mat-h3 {
    margin: 0;
}

.mat-h2 {
    font-weight: 600;
    margin: 0;
}

.mat-display-2 {
    font-weight: 800;
    letter-spacing: 2px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 30px;
}

.backimg {

    background-image: url("/assets/images/websitehome/RECTANGLE-11.png");


}