<div id="footer" class="footer backimg " fxLayout="column" fxLayoutAlign="center center">
  <div class="padding-center full-width" fxLayout="row" fxLayout.lt-sm="column" fxLayout.lt-md="column"
    fxLayoutAlign="center center" fxLayoutAlign.lt-sm="center" fxLayoutGap="20px" fxFlex="grow">
    <div fxLayout="column" fxFlex="40" fxLayoutAlign.lt-sm="center center">
      <div fxLayout="column" class="cardpadding" fxLayoutAlign="center center" fxLayoutAlign.lt-md="center"
        fxLayoutAlign.gt-lg="center">

        <p class="mat-h2 color-primary">MR CALL</p>
        <p class="mat-h5 color-grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <!-- <div class="mat-h5 color-grey"></div> -->

      </div>

      <!-- Social media section -->

    </div>

    <div class="footer-text padding-top" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center"
      fxFlex="70" fxLayoutGap="60px">
      <!-- Learn more section -->
      <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="start start">
          <p class="mat-h2 color-primary">Quick Links</p>
        </div>

        <div fxLayout="column" fxLayoutGap="10px">
          <!-- routerLink="/website/about-us" -->
          <a class="mat-h4 color-grey" routerLink="/website/about-us">About us</a>
          <a class="mat-h4 color-grey" routerLink="/website/legal">Our Pricings</a>
          <a class="mat-h4 color-grey" routerLink="/website/refund-policy">Our Gallary</a>
          <a class="mat-h4 color-grey" routerLink="/website/refund-policy">Appointment </a>
          <a class="mat-h4 color-grey" routerLink="/website/refund-policy">Privacy Policy </a>
        </div>
      </div>




      <!-- Contact us section -->
      <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="start start">
          <p class="mat-h2 color-primary">Openings Hours</p>
        </div>

        <div fxLayout="row" fxLayoutGap="30px">
          <div fxLayout="column" fxLayoutGap="10px">


            <span class="mat-h4 color-primary">Mon-Tues</span>
            <span class="mat-h4 color-primary">Mon-Tues</span>
            <span class="mat-h4 color-primary">Mon-Tues</span>
            <span class="mat-h4 color-primary">Mon-Tues</span>
            <span class="mat-h4 color-primary">Mon-Tues</span>

          </div>
          <div fxLayout="column" fxLayoutGap="10px">
            <span class="mat-h4 color-grey">08:00 AM- 05:00 PM</span>
            <span class="mat-h4 color-grey">08:00 AM- 05:00 PM</span>
            <span class="mat-h4 color-grey">08:00 AM- 05:00 PM</span>
            <span class="mat-h4 color-grey">08:00 AM- 05:00 PM</span>
            <span class="mat-h4 color-grey">08:00 AM- 05:00 PM</span>

          </div>

        </div>

      </div>

    </div>

  </div>



</div>