<mat-sidenav-container class="backgroud-color-white">
  <!-- Sidenav for mobile -->
  <mat-sidenav #sidenav class="app-sidenav">
    <mat-nav-list>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
        <a routerLink="/website/home" class="mat-h2 color-secondary cardpadding">Home</a>
        <a routerLink="/website/about-us" class="mat-h2 color-secondary cardpadding" >Service</a>
        <a routerLink="/website/about-us" class="mat-h2 color-secondary cardpadding" >About Us</a>
        <a class="mat-h2 color-secondary cardpadding" (click)=gotologin()>Gallery</a>
        <a class="mat-h2 color-secondary cardpadding" (click)=gotologin()>Blogs</a>
        <!-- routerLink="/patient/patient-login" -->
      
        <a class="mat-h2 color-secondary cardpadding"  (click)="ContactUs()">Contact
          Us</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <!-- sidenav for desktop -->
  <mat-sidenav-content>
    <div fxLayout="row" class="backimg header">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="space-around center"
        fxLayoutAlign.lt-sm="space-around" fxLayoutGap="20px" fxLayoutGap.lt-sm="13px" fxFlex="grow">
        <div fxLayout="row" fxHide.gt-md fxShow.lt-md fxHide>
          <div fxLayout="row" fxLayoutAlign="center center" fxFlex.lt-md="20" fxHide.gt-md fxShow.lt-md fxHide>
            <button mat-icon-button (click)="sidenav.toggle()" class="color-primary sidenav-button" color="accent">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <!-- class="logo" -->
          <div  fxLayout="row" fxLayoutAlign="center center" fxFlex.lt-sm="70" >
            <img src="/assets/images/websitehome/MR CALL.png" alt="company logo here" >
          </div>
        </div>
        
        <!-- <div fxLayout="row" fxLayoutAlign="end end" fxFlex="47" fxHide.lt-md> -->
          <!-- <div class="backimg"> -->
          <div fxLayout="row" fxLayoutAlign="end center"  fxFlex="97" fxHide.lt-md>
          <ul fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
            <a  (click)=gotologin() fxLayout="row" fxLayoutAlign="center center"
              class="mat-h2 color-secondary text-center cursor-pointer" >Home</a>
              <a fxLayout="row" fxLayoutAlign="center center" (click)=gotologin()
              class="mat-h2 color-secondary text-center cursor-pointer" >Service</a>
            <a  fxLayout="row" fxLayoutAlign="center center"  (click)=gotologin()
              class="mat-h2 color-secondary text-center cursor-pointer">About Us</a>
           
         
            <a fxLayout="row" fxLayoutAlign="center center" class="mat-h2 color-secondary text-center cursor-pointer"
              (click)="ContactUs()">Gallery</a>
              <a fxLayout="row" fxLayoutAlign="center center" class="mat-h2 color-secondary text-center cursor-pointer"
              (click)="ContactUs()">Blogs</a>
              <a fxLayout="row" fxLayoutAlign="center center" class="mat-h2 color-secondary text-center cursor-pointer"
              (click)="ContactUs()">Gallery</a>
              <button mat-raised-button class="btn" (click)=gotologin() color="primary"
              >
              Contact Us </button>
             
          
            </ul>
       
        
        </div>

      <!-- </div> -->
      </div>
    </div>

    <!-- Content for website -->
    <div class="content-router content backgroud-color-secondary" #main>
      <!-- class="scrollContent" -->
      <router-outlet ></router-outlet>

      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>